/* Montserrat Black */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Montserrat Black Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Montserrat Bold Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Montserrat Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Montserrat Light Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}



* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Section Styling */
section {
    padding: 60px 0;
}

/* Card Styling */
.card {
    border: none;
    transition: all 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-purple {
    background: #4D3474;
    transition: all 0.3s;
}

.btn-purple:hover {
    background: #503e6d;
    transition: all 0.3s;
}

.btn-shadow {
    box-shadow: 4px 4px 8px #cecece, -4px -4px 8px #ffffff;
}

/* Footer Styling */
footer a {
    text-decoration: none;
    margin: 0 10px;
}

.carousel {
    position: relative;
    height: 80vh;
    padding: 0%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: calc(94vh - 80px);
}


.cta-section {
    padding: 25px 0;
}

.cta-card {
    border: 1px solid #e0e0e0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.3s;
}

.cta-card:hover {
    transform: translateY(-5px);
}

.cta-btn {
    background: #ffc107;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    width: 100%;
}

.cta-btn:hover {
    background: #ffb300;
}

.cta-img {
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.cta-highlight {
    font-weight: bold;
    color: #000;
}

.font-0 {
    font-size: 1rem;
}

.font-01 {
    font-size: 0.8rem;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 0em !important;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(255, 220, 40, .15);
    background-color: var(--fc-today-bg-color, #ffc107) !important;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-top .fc-daygrid-day-number {
    color: #fff !important;
}

.fc-daygrid-day-number {
    margin-right: 10px;
}

a {
    color: #000;
    text-decoration: none !important;
}

.cstm-position {
    left: 10%;
    top: 0%;
}

.btn-view {
    display: block;
    min-width: 120px;
    margin: 20px auto;
    background-color: #6a5acd;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.btn-view:hover {
    background-color: #563d7c;
}

.main-container {
    margin: 0;
    padding: 0;
    background: url('../img/au-bg-1.png') no-repeat center center/cover;
    /* Background image */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9E5;
    overflow: hidden;
}

.content-container {
    position: relative;
    width: 80%;
    max-width: 1000px;
    border-radius: 15px;
    padding: 40px;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title-btn {
    display: inline-block;
    background: linear-gradient(to right, #ffc107, #ff9f00);
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 20px;

}

.title-btn:hover {
    background: #ff9f00;
    transform: translateY(-3px);
}

.content {
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
    text-align: center;
    display: flex;
    justify-content: center;
}

.floating-icons img {
    position: absolute;
    width: 120px;
    transition: transform 0.3s ease;
}

.floating-icons img:hover {
    transform: scale(1.1);
}

/* Floating Images */
.img-top-left {
    top: -60px;
    left: -60px;
    z-index: 1000;
}

.img-top-right {
    top: -60px;
    right: -60px;
}

.img-bottom-left {
    bottom: -120px;
    left: 00px;
}

.img-bottom-right {
    bottom: -100px;
    right: 0px;
}

@media (max-width: 768px) {
    .content-container {
        width: 95%;
        padding: 30px;
    }

    .floating-icons img {
        width: 80px;
    }
}

.dropdown-item:active {
    background: #ffc107 !important;
}

.font-sm {
    font-size: medium;
}

.font-bold {
    font-weight: 700;
}

.carousel-item {
    transition: opacity 1s ease-in-out;
}

.cart-tooltip {
    --bs-tooltip-bg: #fff;
    --bs-tooltip-color: #333;
}

.font-2 {
    font-size: 1.5rem !important;
}

.cart-dropdown {
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 15px;
    background-color: white;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 10px;
    object-fit: cover;
}

.cart-item h6 {
    font-size: 14px;
    margin: 0;
}

.cart-item p {
    color: green;
    font-weight: bold;
    margin: 0;
    font-size: 14px;
}

.cart-total {
    font-weight: bold;
    font-size: 16px;
    color: green;
    margin-top: 10px;
    font-size: small;
    padding: 0%;
}

.cart-btn {
    background-color: #8e44ad;
    color: white;
    border-radius: 25px;
    padding: 8px 12px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: small;
    height: 50%;
}

.fc .fc-button-primary:disabled {
    color: #333 !important;
    color: var(--fc-button-text-color, #fff);
    background-color: #ffc107 !important;
    background-color: var(#ffc507) !important;
    border-color: #333 !important;
    border-color: var(#333) !important;
}

.drop-down-icon {
    position: absolute;
    right: -3px !important;
    bottom: -4px !important;
    display: flex;
    background: #fff;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    justify-content: center;
    align-items: center;
    border: #ffb300 solid 2px;
}

.bold {
    font-weight: bold;
}

.dt-button.buttons-print {
    background: #ffb300 !important;
    color: white;
    font-weight: bold;
    border: none !important;
    border-radius: 25px;
    padding: 5px 30px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 7px 7px 13px #d9d9d9,
        -7px -7px 13px #ffffff;
    transition: all 0.3s;

}

.dt-button.buttons-print:hover {
    background: #ffc43a !important;
    transition: all 0.3s;
    transform: translateY(-5px);
}

/* Yellow dates (1 request) */
.yellow-day {
    background-color: #ffc107 !important; /* Yellow background */
    color: black !important; /* Black text */
}

/* Red dates (2 requests) */
.red-day {
    background-color: #f44336 !important; /* Red background */
    color: white !important; /* White text */
}

/* Disabled dates (fully booked) */
.disabled {
    background-color: #f1f1f1 !important; /* Light gray background */
    color: #ccc !important; /* Gray text */
    pointer-events: none !important; /* Disable clicking */
}

/* Badge displaying the number of bookings on each day */
.order-count-badge {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    font-weight: bold;
}

.flatpickr-months .flatpickr-month {
    height: 50px !important;
}

.numInputWrapper,
.flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year {
    width: 85px !important;

    border: none !important;
}
